%footer.container-fluid.footer{ role: 'contentinfo' }
  .container
    .row.footer-logo-row
      .col-xs-6.col-sm-3.col-md-3.col-lg-3
        -#%p.credits
        = raw _("<a href='http://caribbeanopeninstitute.org/' target='_blank' title='OpenBudgets.eu'><img class='coi-logo' src='%{logo_openbudgets}' alt='OpenBudgets.eu'/></a>") % { logo_openbudgets: asset_path('img/coi-logo.png') }
      .col-xs-6.col-sm-3.col-md-3.col-lg-3
        = raw _("<a href='https://www.slashroots.org/' target='_blank' title='OpenBudgets.eu'><img class='srfdn-logo' src='%{logo_slashroots}' alt='OpenBudgets.eu'/></a>") % { logo_slashroots: asset_path('img/srfdn_logo_white.png') }
      .hidden-xs.col-sm-3.col-md-3.col-lg-3

      .col-xs-12.col-sm-3.col-md-3.col-lg-3
        %span.small-white-sanserif.civio-credit
          = 'Adapted from Participatory Budgeting Tool developed by:'
        = raw _("<a href='http://civio.es/' target='_blank' title='Civio'><img class='civio-logo' src='%{logo_civio}' alt='Civio'/></a>") % {logo_civio: asset_path('img/civio-logo.png')}
    .row
      .col-lg-12
        %span.frida-credit.small-white-sanserif
          = 'Open Budget initiative in Jamaica is supported by funding from the Regional Fund for Digital Innovation in LAC (FRIDA)'