%header{ role: 'banner', class: 'navbar-fixed-top navbar-default' }
  .container
    -#.navbar-default
    %button.navbar-toggle{'data-target' => '#bs-example-navbar-collapse-1', 'data-toggle' => 'collapse', :type => 'button'}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .row.centrable
      %nav.navbar
        %a.navbar-brand{ href: (admin_zone? ? admin_proposals_path : root_path) }
          %h1
            - if admin_zone?
              -#%span{style: 'font-weight: 100; padding-left: 250px;'} Admin
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      .navbar-user
        - if current_voter
          = _('Welcome %{current_voter}') % { current_voter: current_voter }
          - if admin_role?
            %span.separator
              |
            - if admin_zone?
              %a{ href: root_path, title: _('Process') }
                = _('Public View')
            - else
              %a{ href: admin_proposals_path, title: _('Admin') }
                = _('Admin')
          %span.separator
            |
          %a{ href: signout_voters_path, title: _('Sign out') }
            = _('Sign out')
        - else
          %a{ href: new_voter_path(redirect: request.path), title: _('Sign in / Register') }
            = _('Sign in / Register')
        %span.separator
          | 
          %a{ href: about_path, title: _('About') }
            = _('About')


