.card
  .card-block.row
    .col-lg-12
      -#.card-header.proposal-budget
      -#  %strong
      -#    = number_to_currency(suggestion.budget, unit: '', precision: 2, format: "%n %u")
      -#  $
      - unless controller.action_name == 'show'
        %a.proposal-title{ href: suggestion_suggestion_path(suggestion.id), title: suggestion.title }
          %h3
            = suggestion.title
      - else
        .proposal-title
          %h3
            = suggestion.title
      - if suggestion.image.present?
        = image_tag suggestion.image_url, class: 'proposal-image'
      - unless suggestion.description.blank?
        - if controller.action_name == 'show'
          %p.proposal-description
            = suggestion.description
        - else
          %p.proposal-description
            = truncate(suggestion.description, length: 230, separator: ' ')
      -#%a.btn.btn-outline-primary.btn-sm.more-info-btn{ href: '', title: _('Votes') }
      - unless controller.action_name == 'show'
        %a.btn.btn-outline-primary.btn-sm.more-info-btn{ href: suggestion_suggestion_path(suggestion.id), title: suggestion.title}
          = _('More Info')
      -#  = _('Votes: %{votes}') % { votes: " " }
      -#%a.btn.btn-outline-primary.btn-sm.more-info-btmore n{ href: '', title: _('Status'), class: " " }
      -#  = _("Waiting For Review")
      = render 'partials/proposal-classifiers-list', classifiers: suggestion.classifiers
    -#.col-lg-12
    -#  = render 'partials/suggestions/suggestion-edit-btn', suggestion: suggestion